@font-face {
    font-family: "futuro";
    src: url(Game\ Of\ Squids.ttf);
}

*{  margin: auto;
    text-decoration: none;
    font-family: "futuro";
}

body{background-color: gray;
    background-image: url('wallpapersden.com_k-giant-robot_3840x2160.jpg');
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
width: 100vw;
height: 100vh;
}
header{
    padding-bottom: 50px;
    justify-content:baseline
    
}


nav{
    display: flex;
    justify-content: space-between;
    
    
}
a{
    color: rgb(0, 0, 0);
  }
  a:hover{
    color: white;
  }

h1{
    color: rgb(202, 201, 201);
}
main{
    color: rgb(255, 255, 255);
}
img#cab{width: 100px;
    height: 75px; ;
    border-radius: 100%;
}
.principal{
    display: flex;
    

}
div.principal{
    flex-direction: column;
}
img{ 
    position: relative;
    width:300px;
    height: 300px;
    
    
}
hr#linha2{
    width: 250px;
}
.principal2{
    text-align: center;
} 


footer{
    padding-top: 10px;
    display: block;

    
}
footer>h1{
    text-align: center;
    color:  rgb(202, 201, 201);
}
